require('ts-node/register')
var HDWalletProvider = require('truffle-hdwallet-provider')
var mnemonic =
  'robot robot robot robot robot robot robot robot robot robot robot robot'
var infura_key = 'v3/your-key-here'

module.exports = {
  // this is required by truffle to find any ts test files
  test_file_extension_regexp: /.*\.ts$/,
  networks: {
    development: {
      host: 'localhost',
      port: 8545,
      network_id: '*', // Match any network id
    },
    rinkeby: {
      provider: function() {
        return new HDWalletProvider(
          mnemonic,
          'https://rinkeby.infura.io/' + infura_key
        )
      },
      network_id: 4,
    },
    ropsten: {
      provider: function() {
        return new HDWalletProvider(
          mnemonic,
          'https://ropsten.infura.io/' + infura_key
        )
      },
      network_id: 3,
    },
    mainnet: {
      provider: function() {
        return new HDWalletProvider(
          mnemonic,
          'https://mainnet.infura.io/' + infura_key
        )
      },
      network_id: 2,
    },
  },
  compilers: {
    solc: {
      version: '0.4.24',
    },
  },
  mocha: {
    reporter: 'eth-gas-reporter',
    reporterOptions: {
      currency: 'USD',
      gasPrice: 21,
    },
  },
}
